version: "3.3"

services:
  faunadb:
    image: fauna/faunadb
    container_name: faunadb
    healthcheck:
      test: ["CMD", "curl" ,"http://faunadb:8443/ping"]
      interval: 1s
      timeout: 3s
      retries: 30

  tests-jdk-11-scala-2.11:
    environment:
      - FAUNA_ROOT_KEY
      - FAUNA_DOMAIN
      - FAUNA_SCHEME
      - FAUNA_PORT
    image: hseeberger/scala-sbt:11.0.10_1.4.8_2.11.12
    container_name: mytests
    depends_on:
      - faunadb
    volumes:
      - "../../:/tmp/app"
    working_dir: "/tmp/app"
    command: [sh, -c, "ls -la && sbt test"]

  tests-jdk-11-scala-2.12:
    environment:
      - FAUNA_ROOT_KEY
      - FAUNA_DOMAIN
      - FAUNA_SCHEME
      - FAUNA_PORT
    image: hseeberger/scala-sbt:11.0.12_1.5.5_2.12.14
    container_name: mytests
    depends_on:
      - faunadb
    volumes:
      - "../../:/tmp/app"
    working_dir: "/tmp/app"
    command: [sh, -c, "ls -la && sbt test"]

  tests-oracle-jdk-11-scala-2.11:
    environment:
      - FAUNA_ROOT_KEY
      - FAUNA_DOMAIN
      - FAUNA_SCHEME
      - FAUNA_PORT
    image: 768923903788.dkr.ecr.us-east-2.amazonaws.com/devex-oracle-java-11:latest
    container_name: mytests
    depends_on:
      - faunadb
    volumes:
      - "../../:/tmp/app"
    working_dir: "/tmp/app"
    command: [sh, -c, "ls -la && sbt test"]